@model BeanScene.ViewModels.ReservationTimeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MgmtLayout.cshtml";
}

<h1>Edit</h1>

<h4>ReservationTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationTime.Id" />
            <div class="form-group">
                <label asp-for="ReservationTime.Name" class="control-label"></label>
                <input asp-for="ReservationTime.Name" class="form-control" />
                <span asp-validation-for="ReservationTime.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationTime.ReservationTypeId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.ReservationTime.ReservationTypeId, new SelectList(Model.ReservationTypes, "Id", "Name"), new {@class="form-control- form-select"})
                
                <br />
                @*<select asp-for="ReservationTypeId" class="form-control" asp-items="ViewBag.ReservationTypeId"></select>*@
                <span asp-validation-for="ReservationTime.ReservationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

