html{
    margin:0
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.text {
    font-family: 'Open Sans';
    margin-top: 40px;
    font-size:14px;
    color:#666666;
    line-height:1.8
}

.infoContainer {
    background-color: #212121;
    height: 260px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

.infoContent{
    flex:33.33%;
    margin-left:15px;
    margin-right:15px;
    border-right:1px solid white;
}

.infoTitle
{
    font-family:Oswald;
    color:white;
    margin-bottom:40px;
    font-size:19px;
    font-weight:bolder;
}
.contentText{
    color:#acacac;
    font-size:14px;
    font-family: 'Open Sans';
    font-weight:500;
}

.footer-container {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    align-items: center;
    background-color: black;
}



.footer-text {
    color: #c1c1c1;
    font-size: 16px;
}

    .footer-text a {
        text-decoration: none;
        color: darkslategrey;
        font-weight: bold
    }
@font-face {
    font-family: Oswald;
    src: url("/font/Oswald-Bold.ttf");
}

@font-face {
    font-family: "Merriweather-Italic";
    src: url("/font/Merriweather-Italic.ttf")

}

@font-face {
    font-family: "Open Sans";
    src: url("/font/OpenSans-Regular.ttf")
}
