@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="banner">
        <div class="logoContainer">
            <img class="logo" src="~/images/Logo_landscape.png" />
        </div>
        <div class="menuContainer">
            <div class="btnMenuContainer">
                @Html.Partial("_BtnMenu")
            </div>
            <div class="btnReservContainer">
                @Html.Partial("_BtnReserv")
            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-text">
            <p class="title">ABOUT BEAN SCENE RESTAURANT</p>
            <p class="subtitle">Love,laughter,great food and strong coffee.</p>
            <div style="background-color:#9a7b4f; width:120px; height:4px;margin-top:5px;"></div>
            <p class="text">Our concept for Bean Scene Restaurant came from our simple but profound personal passion for food and family, and our desire to link the two together in an affordable and comforting setting.</p>
        </div>
        <div class="column-image">
            <img width=100% src="~/images/About/about1.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="column-image">
            <img width=100% src="~/images/About/about2.jpg" />
        </div>
        <div class="column-text">
            <p class="title">OUR MENU</p>
            <p class="subtitle">Cos...Who doesn’t love to eat!?</p>
            <div style="background-color:#9a7b4f; width:120px; height:4px;margin-top:5px;"></div>
            <p class="text">Consisting of traditional brunch favourites with modern additions, Justin brings his signature fine dining touch to casual cafe dining. A menu that was created with bold flavours and touches of intricacy. Beautiful ingredients and carefully prepared produce all exquisitely presented, taking you on a visual and gastronomical adventure with each bite..</p>
        </div>
    </div>
    <div class="row">
        <div class="column-text">
            <p class="title">OUR CHEF</p>
            <p class="subtitle">The culinary genius behind our dishes.</p>
            <div style="background-color:#9a7b4f; width:120px; height:4px;margin-top:5px;"></div>
            <p class="text">Justin Park knows his way around a commercial kitchen … holding the title of Executive Chef at Peter doyle the Quay for 9 years can attest to that. His culinary journey started offshore 20 years ago where his curiosity for fine ingredients progressed into a passion for marrying them together to develop exciting new dishes.</p>
        </div>
        <div class="column-image">
            <img width=100% src="~/images/About/about1.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="column-image">
            <img width=100% src="~/images/About/about2.jpg" />
        </div>
        <div class="column-text">
            <p class="title">FUNCTIONS</p>
            <p class="subtitle">Love,laughter,great food and strong coffee.</p>
            <div style="background-color:#9a7b4f; width:120px; height:4px;margin-top:5px;"></div>
            <p class="text">Consisans-serif traditional brunch favourites with modern additions, Justin brings his signature fine dining touch to casual cafe dining. A menu that was created with bold flavours and touches of intricacy. Beautiful ingredients and carefully prepared produce all exquisitely presented, taking you on a visual and gastronomical adventure with each bite..</p>
        </div>
    </div>
    <div class="infoContainer">
        <div style="height:100%;width:88%;display:flex;justify-content:space-between">
            <div class="infoContent">
                <p class="infoTitle">CONTACTS</p>

                <p class="contentText">
                    18 Some Rd Sydney
                    <br>
                    NSW 2000
                </p>
                <p class="contentText">
                    info@beanscene.com.au
                    <br>
                    (02) 8888 8888
                </p>

            </div>
            <div class="infoContent">
                <p class="infoTitle">TRADING HOURS</p>
                <p class="contentText">
                    <strong style="font-family:'Open Sans'">Monday - Friday:</strong>
                    <br>
                    7am-4pm (kitchen closes at 3.30pm)
                </p>
                <p class="contentText">
                    
                    <strong style="font-family:'Open Sans'">Weekends and Public Holidays:</strong>
                    <br>
                    8am-4pm (kitchen closes at 3.30pm)
                </p>
            </div>
            <div class="infoContent" style="border-right:none">
                <p class="infoTitle">FOLLOW US</p>
                <p class="contentText">
                    <img src="~/images/instagram-brands.png" height="14px" width="14px"/>
                    Instagram
                    <br>
                    @*<i class="fab fa-facebook-f" height="14px" width="14px"></i>*@
                    <img src="~/images/facebook.png" height="14px" width="14px"/> Facebook
            </div>
        </div>
    </div>

</body>

<footer>
    <div class="footer-container">
        <div class="footer-text">
            Copyright © Bean Scene &amp; CO. Website Design Sydney by
            <a href="http://www.google.com/" target="_blank" rel="noopener noreferrer">Yifeng Sun</a>
        </div>

    </div>


</footer>

<style>
    .logo {
        height: 50px;
    }

    
</style>



