@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    //Layout = "~/Views/Shared/_MgmtLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    html {
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 100%
    }


    body {
        padding: 0;
        margin: 0;
    }

    .main {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

    .container {
        width: 100%;
        height: 100%;
        display: row;
        padding: 0;
        margin: 0;
    }

    .imageContainer {
        width: 40%;
        height: 100%;
    }

    .loginContainer {
        width: 60%;
        height: 100%
    }

form{
    width:100%;
    height:min-content;
    padding:0px;
    margin:0px;
}

.loginBtn{
    width:120px;
}
</style>

<section style="height:100%;padding:0;margin:0">
    <div class="container" style="padding:0;margin:0;height:100%;width:100%;display:flex;flex-direction:row;">
        <div class="imageContainer" style="width:420px;height:100vh;">
            <img src="~/images/LoginImage.jpg" style="height:100%;width:100%;object-fit:cover" />
        </div>
        <div class="loginContainer" style="width:600px;height:100vh;padding:100px;overflow:hidden">

            
                    <div style="width:100%;height:100%;display:flex;flex-direction:column;justify-content:center;">
                        <form id="forgetPassword" method="post">
                            <img src="~/images/Logo_black.png" height="80px" style="margin-bottom:50px" />
                            <h2 style="margin-bottom:30px">Forget your password?</h2>
                            <h4>Enter your email</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating" style="margin-bottom:50px;position:relative">
                                <i class="fa fa-envelope icon" style="position:absolute;right:12px;top: 20px;color: gray;"></i>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Confirm</button>
                            </div>

                        </form>
                            
                
               
            
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
