@model BeanScene.ViewModels.TableViewModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MgmtLayout.cshtml";
}

<h1>Edit</h1>

<h4>Table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Table.Id" />
            <div class="form-group">
                <label asp-for="Table.Name" class="control-label"></label>
                <input asp-for="Table.Name" class="form-control" />
                <span asp-validation-for="Table.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Table.AreaID" class="control-label"></label>
                <br />
                @Html.DropDownListFor(model=>model.Table.AreaID, new SelectList(Model.Areas, "Id", "Name"), new {@class="form-control- form-select"})
                
                <br />
                @*<select asp-for="Table.AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>*@
                <span asp-validation-for="Table.AreaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

