@model BeanScene.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "GotRequest";
    //Layout = "~/Views/Shared/_MgmtLayout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using BeanScene.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    html {
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 100%
    }


    body {
        padding: 0;
        margin: 0;
    }

    .main {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

    .container {
        width: 100%;
        height: 100%;
        display: row;
        padding: 0;
        margin: 0;
    }

    .imageContainer {
        width: 40%;
        height: 100%;
    }

    .loginContainer {
        width: 60%;
        height: 100%
    }

    
</style>

<div style="height:100%;width:100%;padding:0;margin:0;">
    <div style="padding:0;margin:0;height:100%;width:100%;display:flex;flex-direction:row;">
        <div class="imageContainer" style="width:420px;height:100vh;">
            <img src="~/images/LoginImage.jpg" style="height:100%;width:100%;object-fit:cover" />
        </div>

        
        <div style="flex:1;display:flex;width:100%;height:100vh;padding:10px;overflow:hidden;background-color:#d4ddda;flex-direction:column;padding-left:40px;justify-content:center">
            <img src="~/images/Logo_black.png" height="80px" width="188px" style="margin-bottom:80px" />
            <p style="font-size:28px">We have got your reservation request.</p><br />
            <p style="font-size:28px">We will contact you soon, thank you!</p>
            <div style="margin-top:30px">
                            <button style="background-color:#6A6E6D; border-color:#6A6E6D;border-radius:4px;height:37.97px;width:71.72px;border-style:none;color:white;margin-top:40px" onclick="window.location='@Url.Action("Index", "Home")'">Back</button>
                        </div>
        </div>
        

    </div>
</div>

