@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</head>
<style>
    body{
        /*background-image:url(images/HomeBgImage2.jpg);*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:100%;
        background-size: cover;
        margin:auto;
        background-position:center;
    }

    .logo{
        text-align:center;
        line-height:100%;
        justify-content:center
    }
    
    .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
}
  
       
    
    

    
</style>
<body onload="changeImg()">
    
    @Html.Partial("_MenuBtnHome")
    
    <div style="text-align: center">
        <img class="center" width="750" src="~/images/Logo.png"/>
    

    </div>    
</body>


@*Randomly change Background Image JS Code*@
<script>
    var currentImg = Math.floor(Math.random() * 8 + 1);
    var imaArr=['HomeBgImage1.jpg','HomeBgImage2.jpg','HomeBgImage3.jpg','HomeBgImage4.jpg']
    function changeImg() {
        
        //document.getElementById("body").style.background-image = "url(images/" + img[currentImg] + ")";
        document.body.style.backgroundImage = "url(images/HomeBgImage" + currentImg + ".jpg)";    }
</script>


